<div class="right-panel">
<div class="stats-box">
  <p>Word Count: {{ textState.wordCount }}</p>
  <p>Char Count: {{ textState.charCount }}</p>
</div>

<div class="buttons-box">
  <button (click)="clear()">Clear All</button>
  <button (click)="removeSpaces()">Remove Spaces</button>
  <button (click)="reverse()">Reverse</button>
  <button (click)="removeSpecialChars()">Remove Special</button>
  <button (click)="removeStyling()">Remove Styling</button>
  <button (click)="toUpper()">Uppercase</button>
</div>

<div class="icon-row">
  <button (click)="bold()">B</button>
  <button (click)="italic()">I</button>
  <button (click)="underline()">U</button>
  <button (click)="openColorPicker()">🎨</button>
  <button (click)="increaseFont()">+</button>
<button (click)="decreaseFont()">-</button>

</div>

<input
  type="color"
  #colorPicker
  hidden
  (input)="changeColor($event)"
>
</div>
