/* Right panel container */
.right-panel {
  width: 100%;
  background: #d9d9d9;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #c5c5c5;
}

/* Word + character count box */
.stats-box {
  background: #6f6f6f;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 4px;
}

/* Button group container */
.buttons-box {
  background: #cfcfcf;
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;   /* 2 buttons per row */
  gap: 10px;
  border-radius: 4px;
}

/* Buttons style */
.buttons-box button {
  padding: 8px 5px;
  border: none;
  background: #ffffff;
  cursor: pointer;
  font-size: 13px;
  border-radius: 3px;
  transition: 0.2s;
}

/* Hover effect */
.buttons-box button:hover {
  background: #e4e4e4;
}
.color-palette {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  justify-content: center;
}

.color {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #444;
}

.red { background: red; }
.blue { background: blue; }
.green { background: green; }
.orange { background: orange; }
.purple { background: purple; }
.black { background: black; }

/* Icon button row */
.icon-row {
  margin-top: 12px;
  background: #cfcfcf;
  padding: 10px;
  display: flex;
  gap: 8px;
  border-radius: 4px;

  justify-content: center;
  align-items: center;  
}

/* Icon buttons */
.icon-row button {
  width: 32px;
  height: 32px;
  background: white;
  border: none;
  font-weight: 700;
  cursor: pointer;
  border-radius: 3px;
  


}

/* Hover for icon buttons */
.icon-row button:hover {
  background: #e4e4e4;
}
